body,
html {
    margin: 0;
}

body {
    background-image: url("./chocolate-cake.jpg");
    color: white;
}

html {
	height: 100%;
}

body {
	height: 90%;
	max-width: 800px;
	margin: 0 auto;
}

h1,
p {
	font-family: sans-serif;
	text-align: center;
	padding: 20px;
}

.txt,
select,
form > div {
	display: block;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 16px;
	padding: 5px;
}

.txt {
	width: 80%;
}

select {
	width: 83%;
}

form > div {
	width: 81%;
}

.txt,
form > div {
	margin-bottom: 10px;
	overflow: auto;
}

.clearfix {
	clear: both;
}

label {
	float: left;
	width: 10%;
	line-height: 1.5;
}

.rate-value,
.pitch-value {
	float: right;
	width: 5%;
	line-height: 1.5;
}

#rate,
#pitch {
	float: right;
	width: 81%;
}

.controls {
	text-align: center;
	margin-top: 10px;
}

.controls button {
	padding: 10px;
}

.video {
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.rainbow {
  
    /* Font options */
   font-family: 'Pacifico', cursive;
   text-shadow: 2px 2px 4px #000000;
   font-size:40px;
   
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 5s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 5s infinite;
   
   /* Standar Syntax */
   animation: rainbow 5s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }